body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    width: 100%;
    max-width: 420px;
    background: rgba(255, 255, 255, 0.04);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* Titulos del FORMULARIO */

.auth h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    margin: 0 0 10px 0;
}
/* LOGIN → franja azul arriba */
.auth {
    border-top: 4px solid #4a90e2;
}

label {
    display: block;
    padding: 6px 0 4px;
    font-size: 0.9rem;
    color: #555;
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    transition: border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: #4a90e2;
}

#btnRegistrar, #btnLogin {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.auth.button:hover {
    background-color: #357abd;
}

/* error */
.error {
    color: #e25c4a;
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

/* Enlace ^*/
a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    color: #e25c4a;
}