/* General */
body {
    margin: 0;
    padding: 20px;
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
}
/* PANEL DERECHO */
#right-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* PANEL IZQUIERDO */
#left-panel {
    background: #fff;
    border-radius: 20px;
    padding: 15px;
}
/* Title */
#movie-title {
    grid-column: 1 / span 2;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 30px;
}
#movie-details {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}
/* INFO */
#movie-info {
    grid-column: 2;
    grid-row: 1;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}
#movie-release-date {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
}

/* Poster */
#movie-poster {
    grid-column: 1;
    grid-row: 1 / span 2;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


#movie-poster img {
    width: 100%;
    height: auto;
}

#movie-overview {
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: left;
    min-height: 150px;
}


/* Rating */
#movie-rating {
    grid-column: 3 / span 2;
    grid-row: 4;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

/* CAST */
#movie-cast {
    grid-column: 2;
    grid-row: 2;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

#cast {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
/* Elemento Lista */
#cast li {
    background: #222;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
}
/* Botón de favoritos (Estilo TFG) */
#btn-favorito {
    grid-column: 2;
    grid-row: 3;
    background-color: #ef4a4a;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
}

#btn-favorito:hover {
    background-color: #ef4a4a;
    transform: scale(1.02);
}