RewriteEngine On

# Si no es archivo o carpeta real → index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Captura la URI y la pasa como parámetro ?url=
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]