/* General */
body {
    margin: 0;
    padding: 20px;
    background-color: #e0e0e0;
    background-size: 20px 20px;
    font-family: 'Arial', sans-serif;
}

/* ESTRUCTURA PRINCIPAL CON GRID */
#movie-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    gap: 15px;
    max-width: 1100px;
    margin: 0;
}

#movie-title,
#movie-info,
#movie-rating,
#movie-poster {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#movie-title {
    grid-column: 1 / span 2;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 30px;
}

/* CONTENIDO INTERNO CON FLEX (Prioridad según pides) */
#movie-info {
    grid-column: 1 / 3;
    grid-row: 3;
    text-align: left;
    padding: 20px;
}

#movie-release-date {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
}

/* Poster */
#movie-poster {
    grid-column: 3;
    grid-row: 3;
    padding: 0;
    overflow: hidden;
    display: flex;
}

#movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#movie-overview {
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: left;
    min-height: 150px;
}


/* Rating */
#movie-rating {
    grid-column: 3 / span 2;
    grid-row: 4;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

/* Botón de favoritos (Estilo TFG) */
#btn-favorito {
    grid-column: 3 / 3;
    grid-row: 6;
    cursor: pointer;
    background-color: #ef4a4a;
    transition: transform 0.2s;
    font-size: 1.0rem;
    padding: 15px;
}

#btn-favorito:hover {
    background-color: #ef4a4a;
    transform: scale(1.02);
}